header {
  height: var(--headerHeight);

  font-family: 'Roboto Slab', serif;
  color: lightgray;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--headerColor);
}

.filipe {
  margin-left: 50px;
  text-decoration: none;
  color: lightgray;
  font-size: 1.5em;

}

.iconF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  width: 180px;
}

.icon {
  transform: scale(3);
  padding-top: 2px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin-right: 70px;
  list-style-type: none;
}

.navBar li {
  width: 150px;
  margin-right: 15px;
}

.navBar li a {
  padding: 2px;
  text-decoration: none;
  color: lightgray;
  font-size: 1.3em;
}

.navBar li a:hover {
  border-radius: 10px;
  color: cyan;
}

.navBar li a:active {
  color: #00cccc;
}

.selectedHeader {
  margin-top: 2px;
  width: 100%;
  height: 3px;
  background-color: cyan;
}

@media (max-width: 800px) {
  .filipe {
    display: none;
  }

  .iconF { 
    width: 20px;
  }
} 