body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #575760;
}

.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 110px 1fr 100px;
}


